nav {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    padding: 0 10%;
    box-sizing: border-box;
    background-color: var(--bcd-color-main);
    transition: 0.25s ease;
}

/* navbar scrolled */
nav.scrolled {
    width: 70%;
    margin-top: 12px;
    padding: 12px;
    background-color: var(--bcd-color-blur);
    backdrop-filter: blur(10px);
    box-sizing: border-box;
    border-radius: 30px;
}

nav.scrolled a {
    background-color: transparent;
}

nav a {
    width: max-content;
    height: 32px;
    font-size: var(--fs-body);
    padding: 4px 12px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: var(--fw-light);
    background-color: var(--bcd-color-main);
    color: var(--text-color-sec);
    text-decoration: none;
    transition: 0.25s ease-in-out;
}

nav .pages-list {
    width: max-content;
    display: flex;
}

nav .pages-list a.active,
nav a:hover {
    background-color: var(--bcd-color-sec);
    color: var(--text-color-main);
}

nav .burgers {
    display: none;
}

/* responsive tablet */
@media screen and (max-width: 1200px) {
    nav {
        padding: 0 5%;
    }

    nav.scrolled {
        width: 100%;
        margin: 0;
        padding: 0 5%;
        box-sizing: border-box;
        border-radius: 0px;
        background-color: var(--bcd-color-main);
    }

    nav .burgers {
        display: block;
    }

    nav .pages-list {
        width: 100%;
        height: calc(100dvh - 60px);
        position: absolute;
        top: 60px;
        left: 0;
        padding: 12px 0;
        flex-direction: column;
        gap: 24px;
        flex-direction: column;
        background-color: var(--bcd-color-main);
        display: none;

    }

    nav .pages-list .pages,
    nav .pages-list .btn-group {
        gap: 24px;
        flex-direction: column;
    }

    nav .pages-list .btn-group .btn-icons {
        position: absolute;
        top: -46px;
        right: 10%;
    }

    nav .pages-list.active {
        display: flex;
    }
}

/* responsive mobile*/
@media screen and (max-width: 576px) {
    nav .pages-list .btn-group .btn-icons {
        right: 15%;
    }
}